@charset "UTF-8";

*{ margin:0; padding:0; }

#main_box{
	width:800px;
	margin:auto;	
}

#photo_box{
	width:710px;
	height:665px;
	border:1px solid blue;
	box-shadow:5px 5px 10px gray;
	padding:10px;
	margin:auto;
	overflow:auto;	
}

.photo_type{
	width:150px;
	height:350px;
	border:1px solid #49C3FD;
	float:left;
	margin:10px;	
}

.title{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.photo_type img{
	display:block;
	margin:auto;
	width:98%;
	height:150px;
	border:1px solid #49C3FD;
}

.color{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.property{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/*#main_box div .join{
	
}*/